<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <meta charset="utf-8">
    <title>Prescription Menu</title>
</head>

<body>
    <a href="./"><button type="submit" name="to home" class="back_button">
            < </button></a>
    <h1 class="menu_header">Prescription Menu</h1>

    <form action="./presc_menu" method="post">
        <div style="position:absolute; left: 18.7%;top: 10%;width: 50%;height: 30%">
            <table class="table_form">
                <tr>
                    <th>Doctor Certificate</th>
                    <th>Patient #</th>
                    <th>Prescription Date</th>
                    <th>Substance</th>
                    <th>Substance Quantity</th>
                </tr>
                <tr>
                    <td><input class="input_table" name="certificate_num"></td>
                    <td><input class="input_table" name="patient_num"></td>
                    <td><input class="input_table" name="presc_date"></td>
                    <td><input class="input_table" name="substance"></td>
                    <td><input class="input_table" name="subs_quant"></td>
                </tr>
            </table>
            <div style="position: absolute;left: 40%; top: 47%">
                <button type="submit" class="button2" name="button" value="insert">Insert</button>
                <button type="submit" class="button2" name="button" value="edit">Edit</button>
                <button type="submit" class="button2" name="button" value="remove">Remove</button>
            </div>
        </div>
        <div style="position: absolute;top: 30%;left: 28%;height: 65%; width: 42%; overflow: auto;">
            <table style="position: absolute;">
                <tr>
                    <th>Doctor Certificate</th>
                    <th>Patient #</th>
                    <th>Prescription Date</th>
                    <th>Substance</th>
                    <th>Substance Quantity</th>
                    <th>To Change</th>
                </tr>
                {% for column in cursor %}
                <tr>
                    <td>{{column[0]}}</td>
                    <td>{{column[1]}}</td>
                    <td>{{column[2]}}</td>
                    <td>{{column[3]}}</td>
                    <td>{{column[4]}}</td>
                    <td>
                        <label class="custom_checkbox" style="left: 34%;">
                            <input type="checkbox" style="color: #232943;width: 20px; height: 20px; display: block;" name="checkbox" value="{{column[0]}}|{{column[1]}}|{{column[2]}}|{{column[3]}}|{{column[4]}}">
                            <span></span>
                        </label>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>
</body>

</html>